<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Employee</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <form th:action="'/editEmployee/' + ${employee.getUsername()}" method="post">
                <input class="form-control" type="hidden" name="id" th:value="${employee.getId()}"/>
                <input class="form-control" name="firstName" th:value="${employee.getFirstName()}"/>
                <input class="form-control" name="lastName" th:value="${employee.getLastName()}"/>
                <input class="form-control" name="age" th:value="${employee.getAge()}"/>
                <input class="form-control" name="workingHours" th:value="${employee.getWorkingHours()}"/>
                <input class="form-control" name="gender" th:value="${employee.getGender()}"/>
                <input class="form-control" name="enabled" th:value="${employee.isEnabled()}"/>
                <input class="form-control" name="password" th:value="${employee.getPassword()}"/>
                <input class="btn btn-default" type="submit" value="submit"/>
            </form>
        </div>
    </div>

</body>
</html>