<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: common-header"/>
<body>
    <div class="wrapper">
        <div th:replace="header :: navbar"/>
        <div class="container">
            <button class="btn btn-default"><a href="addEmployee.html">Add Employee</a></button>
        </div>
        <div class="container" th:if="${not #lists.isEmpty(employees)}">
            <h2>Employee list</h2>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>first name</th>
                    <th>last name</th>
                    <th>age</th>
                    <th>email</th>
                    <th>working hours</th>
                </tr>
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee.id}"></td>
                    <td th:text="${employee.getFirstName()}"></td>
                    <td th:text="${employee.getLastName()}"></td>
                    <td th:text="${employee.getAge()}"></td>
                    <td th:text="${employee.getEmail()}"></td>
                    <td th:text="${employee.getWorkingHours()}"></td>
                    <td><form th:action="'/editEmployee/' + ${employee.getUsername()}" method="get"><button class="btn btn-default" type="submit" name="editEmployee" >Edit</button></form></td>
                    <td><form th:action="'/deleteEmployee/' + ${employee.getUsername()}" method="get"><button class="btn btn-danger" type="submit" name="deleteEmployee">Delete</button></form> </td>
                </tr>
            </table>
        </div>
    </div>
    <div th:replace="header :: body-bottom-scripts"/>
</body>
</html>