<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">

    <meta charset="utf-8"/>
    <title>Demo employee management application</title>
    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<!-- Navigation -->
<div th:fragment="navbar">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="head">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="span6">
                                <h1 class="muted">Sample</h1>
                            </div>

                            <div class="span4 offset2" style="margin-top:15px;">
                                <button class="btn btn-default" type="button">Sign In</button>
                            </div>
                        </div>
                    </div>

                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="container">
                                <ul class="nav">
                                    <li>
                                        <a href="#">Home</a>
                                    </li>

                                    <li>
                                        <a href="#">Statistics</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="body-bottom-scripts">
    <!-- jQuery -->
    <script src="../static/scripts/jquery-3.2.1.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/scripts/bootstrap.min.js"></script>

    <!--main scripts-->
    <script src="../static/scripts/main.js"></script>
</div>

</body>
</html>